.first-screen {
  position: relative;

  height: 100vh;

  background: $dark-blue url('../images/bg-header.jpg') no-repeat;
  background-size: cover;
  background-position: center;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;

    height: 100vh;
    width: 100%;

    background: url('../images/pattern.png') repeat;
    opacity: 0.6;
  }

  &::after {
    content: '';
    position: absolute;
    right: 0;
    top: 140px;

    width: 158px;
    height: 446px;

    background: url('../images/header-rectangle.png') no-repeat;
  }

  &__wrapper {
    @include container;

    position: relative;

    height: 100vh;

    &::before {
      content: '';
      position: absolute;
      left: -30%;
      top: 0;

      width: 1160px;
      height: 304px;

      background: url('../images/header-top-corner.svg') no-repeat;
    }

    &::after {
      content: '';
      position: absolute;
      right: 15%;
      bottom: 0;

      width: 230px;
      height: 88px;

      background: url('../images/header-bottom-rectangle.png') no-repeat;
    }
  }
}

.header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  // helper
  @include outline-red;

  &__logo {
    display: flex;
    max-width: 438px;
    z-index: 10;

    // helper
    @include outline-yellow;

    img {
      width: 170px;
      height: 127px;

      // helper
      @include outline-red;
    }

    h1 {
      padding-top: 44px;

      font-size: 28px;
      line-height: 30px;

      color: $white;
    }
  }
}

.header-callback {
  display: flex;
  flex-direction: column;
  z-index: 10;

  // helper
  @include outline-yellow;

  &__phone {
    margin-top: 52px;
    margin-bottom: 0;

    font-family: $fg-book;
    font-weight: 300;
    font-size: 28px;
    line-height: 30px;

    color: $white;

    // helper
    @include outline-red;
  }

  &__link {
    padding: 0;
    padding-top: 3px;

    color: $yellow;
    text-align: right;
    text-decoration: underline;
    background-color: transparent;
    border: 0;
    outline: 0;
    cursor: pointer;

    &:hover {
      text-decoration: none;
    }

    // helper
    @include outline-red;
  }
}

.header__title {
  position: relative;
  z-index: 10;

  width: 75.29%; // 881px / 1170px
  margin: 0 auto;
  margin-top: 7.5%; // 87px
  margin-bottom: 5.1%; // 60px

  font-family: $museo-sans;
  font-weight: 100;
  font-size: 56px;
  line-height: 70px;

  color: $yellow;
  text-align: center;
  text-shadow: 0 0 32px rgba(34, 34, 34, 0.43);

  // helper
  @include outline-red;

  &::before, &::after {
    content: '';
    position: absolute;
    top: -15px;
    left: -65px;

    background-color: $light-gray;
  }
  &::before {
    width: 30px;
    height: 3px;
  }
  &::after {
    width: 3px;
    height: 25px;
  }

  &--weight700 {
    font-weight: 500;

    &::before, &::after {
      content: '';
      position: absolute;
      top: -15px;
      right: -65px;

      background-color: $light-gray;
    }
    &::before {
      width: 30px;
      height: 3px;
    }
    &::after {
      width: 3px;
      height: 25px;
    }
  }

  &--weight300 {
    font-weight: 300;

    &::before, &::after {
      content: '';
      position: absolute;
      bottom: 0px;
      left: -65px;

      background-color: $light-gray;
    }
    &::before {
      width: 30px;
      height: 3px;
    }
    &::after {
      width: 3px;
      height: 25px;
    }
  }

  &--helper {
    &::before, &::after {
      content: '';
      position: absolute;
      bottom: 0px;
      right: -65px;

      background-color: $light-gray;
    }
    &::before {
      width: 30px;
      height: 3px;
    }
    &::after {
      width: 3px;
      height: 25px;
    }
  }
}

.header__list {
  position: relative;
  z-index: 10;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 24px;

  font-size: 24px;
  line-height: 26px;

  color: $white;

  // helper
  @include outline-red;
}

.header__item {
  position: relative;

  width: 40%; // 470px / 1170px
  max-width: 470px;
  margin-bottom: 36px;
  padding-left: 50px;

  // helper
  @include outline-red;

  &:nth-child(3) {
    margin-bottom: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;

    width: 27px;
    height: 27px;

    background-image: url('../images/mark-list.svg');
  }
}

.header__button {
  display: block;
  width: 105px;
  height: 105px;
  margin: 0 auto;
  padding: 0;

  background-color: transparent;
  background-image: url('../images/yellow-rhombus.svg');
  border: 0;
  outline: 0;
  cursor: pointer;

  &:hover {
    text-decoration: none;
  }

  // helper
  @include outline-red;
}

// Desktop First Method

// From: 768px to: 991px
@media #{$media} and #{$tablet} {
  .first-screen {
    &::after {
      display: none;
    }

    &__wrapper {
      &::before {
        display: none;
      }
    }
  }

  .header__logo {
    h1 {
      font-size: 24px;
      line-height: 26px;
    }
  }

  .header-callback__phone {
    font-size: 24px;
    line-height: 26px;
  }

  .header__title {
    font-size: 44px;
    line-height: 48px;
  }

  .header__list {
    font-size: 20px;
    line-height: 22px;
  }
}

// From: 0 to: 767px
@media #{$media} and #{$phone} {
  .first-screen {
    height: auto;

    background-position: -600px;

    &__wrapper {
      height: auto;

      &::after {
        display: none;
      }
    }
  }

  .header__logo {
    img {
      display: none;
    }

    h1 {
      padding-top: 20px;

      font-size: 20px;
      line-height: 22px;
    }
  }

  .header-callback__phone {
    margin-top: 28px;

    font-size: 20px;
    line-height: 22px;
  }

  .header__title {
    font-size: 30px;
    line-height: 38px;

    &::before, &::after {
      content: '';
      position: absolute;
      top: -3.06%;
      left: -13.26%;

      background-color: $light-gray;
    }
    &::before {
      width: 30px;
      height: 3px;
    }
    &::after {
      width: 3px;
      height: 25px;
    }

    &--weight700 {
      &::before, &::after {
        content: '';
        position: absolute;
        top: -3.06%;
        right: -13.26%;

        background-color: $light-gray;
      }
      &::before {
        width: 30px;
        height: 3px;
      }
      &::after {
        width: 3px;
        height: 25px;
      }
    }

    &--weight300 {
      &::before, &::after {
        content: '';
        position: absolute;
        bottom: 0px;
        left: -13.26%;

        background-color: $light-gray;
      }
      &::before {
        width: 30px;
        height: 3px;
      }
      &::after {
        width: 3px;
        height: 25px;
      }
    }

    &--helper {
      &::before, &::after {
        content: '';
        position: absolute;
        bottom: 0px;
        right: -13.26%;

        background-color: $light-gray;
      }
      &::before {
        width: 30px;
        height: 3px;
      }
      &::after {
        width: 3px;
        height: 25px;
      }
    }
  }

  .header__list {
    flex-direction: column;

    font-size: 18px;
    line-height: 20px;
  }

  .header__item {
    width: auto;
    max-width: none;

    &:nth-child(3) {
      margin-bottom: 36px;
    }
  }
}
